/* Dark Theme */
$--theme-dark: #151515;
$--primary-dark: #e5e5e5;
$--secondary-dark: #93a1b6;
$--card-bg-dark: #0d131c;
$--tags-bg-dark: #224344;

$--code-dark: #214262;
$--code-bg-dark: #0d131c;

$--link-dark: #2a88ff;
$--hr-dark: #0d131c42;

/* Light Theme */
$--theme: #fbfbfb;
$--primary: #1b212e;
$--secondary: #1b212e91;
$--card-bg: #cbddf36e;
$--tags-bg: #acc3d785;

$--code: #d9d9d9;
$--code-bg: #0d131c;
$--link: #0c64c1;
$--hr: #e5e5e5;

/* CP levels */
$--level-easy: #388b7b;
$--level-easy2: #2d863c;
$--level-medium: #c57624;
$--level-hard: #9d0909;
$--level-bronze: #9d5619;
$--level-silver: #e5ecf6;