@import "@styles/colors.module";

.navLogo {
    font-size: 1.5em;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;

    background: linear-gradient(to right, #4bb8fd 20%, #7acbfe 40%, #3464bf 60%, #32a9ed 80%);
    background-size: 200% auto;

    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1.5s alternate infinite;

    &:hover {
        text-decoration: none;
        transform: rotate(-5deg);
        transition: transform 0.3s ease-in-out;
    }
}

.navLink {
    margin-right: 2em;
    a {
        padding: 0 0.7em;
    }
}

.mobileNavLink {
    display: none;
    padding-bottom: 1em;
}

.mobileMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #363636;
    text-align: center;
    padding-bottom: 1em;

    a {
        font-size: 1.2em;
    }
}

.lightswitch {
    position: absolute;
    right: 1em;
    top: 0.3em;
}

@media only screen and (max-width: 640px) {
    .navLink {
        display: none;
    }

    .mobileNavLink {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
    }

    .header {
        position: absolute !important;
    }

    .lightswitch {
        right: 2.7em;
        // top: 1.2em;
        font-size: 1.3em;
    }
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}