@import "@styles/colors.module";

.mobileDocAside {
    background-size: cover;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
}

.docAside {
    padding-bottom: 15em;
}

.circle {
    width: 2.5em;
    height: 2.5em;
    background-color: #4b4b4b;
    border-radius: 50%;
    border: 1px solid #fbfbfb;
    position: relative;
    z-index: -1;
}

.active {
    transform: rotate(180deg);
}

.bar {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 3px;
    left: 10px;
    top: 19px;
    border-radius: 15px;
    background-color: #fbfbfb;
    transform-origin: right;
    text-align: center;
    z-index: 1;
}

.bar:nth-child(1) {
    transform: rotate(21deg);
}
.bar:nth-child(2) {
    transform: rotate(-21deg);
}


@media only screen and (max-width: 750px) {
    .docAside {
        width: 99%;
        z-index: 776;
        transform: translate(-40em, 4em);
    }

    .unfold {
        display: inherit !important;
        width: 99%;
        transform: translate(0em, 4em);
    }

    .docContainer {
        padding: 0 1.4em !important;
        margin: 1.25em 0em !important;
    }

    .mobileDocAside {
        position: fixed;
        bottom: 3em;
        left: 1.5em;
        z-index: 777;
    }

    .mobileDocAsideSlide {
        left: 85% !important;
    }
}