@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "@styles/colors.module";

$--root: 18px;
$--text: 16px;
$--MIN-WIDTH: 300px;

* {
    box-sizing: border-box;
}

html,
body {
    min-width: $--MIN-WIDTH;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6rem;
    font-size: $--root;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.125em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.875em;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    padding: 1em 0em 0.5em 0;
}

main {
    position: relative;
}

.home-header {
    font-size: min(15vw, 3.75em);
}

a {
    color: #289aff;
    &:hover {
        text-decoration: underline;
        text-decoration-thickness: from-font;
    }
}

li {
    list-style: none;
    position: relative;

    &.ko, &.en, &.ja {
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: transparent;
            transform: rotate(0);
            transition: all 0.3s ease-out;
        }
        &:hover {
            &:before {
                transform: rotate(540deg);
                animation: rotate 0.7s infinite;
                animation-direction: alternate;
                animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                transition: all 0.3s;
            }
        }
    }

    &.ko {
        &:before {
            box-shadow: 0px 0px 2px 0px #ff6666, 0px 0px 3px 0px #6464ff, 0px 0px 2px 0px black;
        }
        &:hover:before {
            box-shadow: 6px -4px 1px 1px #ff6666, 0px 7px 1px 1px #6464ff, -7px -4px 1px 1px black;
        }
    }


    &.en {
        &:before {
            box-shadow: 0px 0px 2px 0px #1e242e8c, 0px 0px 3px 0px #6464ff, 0px 0px 2px 0px #6464ff;
        }
        &:hover:before {
            box-shadow: 6px -4px 1px 1px #6464ff, 0px 7px 1px 1px #6464ff, -7px -4px 1px 1px #6464ff;   
        }
    }

    &.ja {
        &:before {
            box-shadow: 0px 0px 2px 0px #1e242e8c, 0px 0px 3px 0px #ff6666, 0px 0px 2px 0px #ff6666;
        }
        &:hover:before {
            box-shadow: 6px -4px 1px 1px #ff6666, 0px 7px 1px 1px #ff6666, -7px -4px 1px 1px #ff6666;
        }
    }

}

.postTag {
    top: 2em;

    a {
        margin: 1em 0.5em 0 0.5em;
        padding: 0 0.7em;
        font-weight: 400;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid #cccccc;

        &:hover {
            text-decoration: none;
            border: 1px solid #6c8bff;
            transition: all 0.3s ease-out;
        }
    }
}

.font-poppin {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

section {
    main {
        p {
            padding: 0.25em 0;
            font-size: $--text;
        }

        img {
            margin: 0.5em 0;
        }

        code {
            font-size: 0.8em;
            padding: 0.3em 0.4em;
            margin: 0 0.2em;
            border-radius: 5px;
            background-color: $--code;
            transition: background-color 0.3s ease;
        }

        li {
            list-style: inside;
            box-shadow: none;
            overflow-wrap: break-word;
            padding: 0.15em 0;

            ol,
                ul {
                    margin-left: 2.5em;

                    li {
                        list-style: circle !important;
                        font-size: $--text;
                    }
                }
        }
        hr {
            margin: 1em 0;
            border-color: $--hr;
        }
    }
    
    footer {
        div {
            margin: 0 0 0.35em 0;
        }
    
        a {
            color: $--primary;
            font-weight: 500;
        }
    
        img {
            margin: 0 0.35em;
        }
    }
}

.dark {
    .postTag {
        a {
            color: #fff5fd;
            border: 1px solid #646464;

            &:hover {
                border: 1px solid #ffccf2;
            }
        }
    }

    section {
        pre {
            div:first-child {
                background-color: #1c1e22 !important;
                border: 1px solid #3c3c3c !important;
            }
            
            code {
                border: none !important;
            }
        }

        main {
            hr {
                border-color: #2a2a2a;
            }

            code {
                background-color: $--theme-dark;
                border: 1px solid #6c8bff;
                white-space: pre;
                transition: background-color 0.3s ease;
            }
        }
    }

    li {

        &.ko:before {
            box-shadow: 0px 0px 2px 0px #ff6666, 0px 0px 3px 0px #6464ff, 0px 0px 2px 0px #efefef !important;
        }

        &.ko:hover:before {
            box-shadow: 6px -4px 1px 1px #ff6666, 0px 7px 1px 1px #6464ff, -7px -4px 1px 1px #efefef !important;
        }
    }


    footer {
        a {
            color: $--primary-dark;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(540deg);
    }
}

@media only screen and (max-width: 380px) {
    .bg-bluexx {
        width: 22em;
        margin-left: -2em;
    }
}

////////////////////////////////////////////////////////////////
//        CP tab
////////////////////////////////////////////////////////////////

.easy, .easy2, .medium, .hard, .bronze {
    color: $--primary-dark !important;
    &:hover {
        color: $--primary-dark !important;
    }
}
.silver {
    color: $--primary !important;
    &:hover {
        color: $--primary !important;
    }
}

.easy {
    background-color: $--level-easy;
}

.easy2 {
    background-color: $--level-easy2;
}

.medium {
    background-color: $--level-medium;
}

.hard {
    background-color: $--level-hard;
}

.bronze {
    background-color: $--level-bronze;
}

.silver {
    background-color: $--level-silver;
}