@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "@styles/colors.module";

$--root: 18px;
$--text: 16px;
$--MIN-WIDTH: 450px;

* {
    box-sizing: border-box;
}

html,
body {
    min-width: $--MIN-WIDTH;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: $--root;
}

li {
    list-style: none;
    position: relative;

    &.ko:before,
    &.en:before,
    &.ja:before {
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        top: 0.8em;
        right: 1em;
        border-radius: 50%;
        background-color: transparent;
        transform: rotate(0);
        transition: all 0.3s ease-out;
    }

    &.ko:hover:before,
    &.en:hover:before,
    &.ja:hover:before {
        transform: rotate(540deg);
        animation: rotate 0.7s infinite;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: all 0.3s;
    }

    &.ko:before {
        box-shadow: 0px 0px 2px 0px #ff6666, 0px 0px 3px 0px #6464ff, 0px 0px 2px 0px #1e242e;
    }

    &.en:before {
        box-shadow: 0px 0px 2px 0px #1e242e8c, 0px 0px 3px 0px #6464ff, 0px 0px 2px 0px #6464ff;
    }

    &.ja:before {
        box-shadow: 0px 0px 2px 0px #1e242e8c, 0px 0px 3px 0px #ff6666, 0px 0px 2px 0px #ff6666;
    }

    &.ko:hover:before {
        box-shadow: 6px -4px 1px 1px #ff6666, 0px 7px 1px 1px #6464ff, -7px -4px 1px 1px white;
    }

    &.en:hover:before {
        box-shadow: 6px -4px 1px 1px #6464ff, 0px 7px 1px 1px #6464ff, -7px -4px 1px 1px #6464ff;
    }

    &.ja:hover:before {
        box-shadow: 6px -4px 1px 1px #ff6666, 0px 7px 1px 1px #ff6666, -7px -4px 1px 1px #ff6666;
    }
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: from-font;
}

html {
    a {
        color: $--link;
    }

    main {
        position: relative;
    }

    li {
        a {
            color: #f1f1f1e6;
        }

        box-shadow: 0px 1px 3px 0px black;

        &.easy {
            background-color: $--level-easy;
        }

        &.easy2 {
            background-color: $--level-easy2;
        }

        &.medium {
            background-color: $--level-medium;
        }

        &.hard {
            background-color: $--level-hard;
        }

        &.bronze {
            background-color: $--level-bronze;
        }

        &.silver {
            background-color: $--level-silver;

            a {
                color: $--primary;
            }
        }
    }

    article {
        a {
            color: $--link;
        }

        li {
            list-style: inside;
            box-shadow: none;
            overflow-wrap: break-word;
        }

        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1.25em;
        }

        h3 {
            font-size: 1.125em;
        }

        h4 {
            font-size: 1em;
        }

        h5 {
            font-size: 0.875em;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            font-weight: bold;
            padding: 1em 0em 0.5em 0;
        }

        pre {
            font-size: 14px;

            div {
                border: none !important;
            }
        }

        img {
            background-color: white;
            padding: 0.5em;
            margin: 0.5em 0;
            border-radius: 5px;
        }

        p {
            padding: 0.25em 0;
            font-size: $--text;

            code {
                font-size: 0.8em;
                padding: 0.3em 0.5em;
                border-radius: 5px;
                background-color: $--code;
            }
        }

        hr {
            margin: 1em 0;
            color: $--hr;
        }

        ul,
        ol {
            list-style: inside;

            li {
                font-size: $--text;
            }
        }
    }
}

html.dark {
    a {
        color: #c6e2ff;
    }

    article {
        a {
            color: $--link-dark;
        }

        p {
            code {
                background-color: $--code-dark;
            }
        }

        hr {
            color: $--hr-dark;
        }
    }

    footer {
        a {
            color: $--primary-dark;
        }
    }

    section {
        pre {
            div:first-child {
                background-color: #19212a !important;
            }
        }
    }
}


li {

    &.bronze,
    &.easy,
    &.easy2,
    &.medium,
    &.hard {
        a {
            color: $--primary-dark;
        }
    }

    &.silver {
        a {
            color: $--primary !important;
        }
    }
}

footer {
    div {
        margin: 0 0 0.35em 0;
    }

    a {
        color: $--primary;
        font-weight: 500;
    }

    img {
        margin: 0 0.35em;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(540deg);
    }
}