@import "@styles/colors.module";

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.postHeader {
    padding: 1.2em;
    margin: 0.5em 0;
    border-radius: 8px;
}

.tags {
    div {
        border-radius: 5px;
    }
}

.circleImage {
    border-radius: 50%;
}

.squareImage {
    border-radius: 20%;
}

.mr_2 {
    margin-right: 2rem !important;
}